.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #1b6392;
  padding: 72px 120px;
}
.newsletter h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  color: #ffffff;
  text-align: center;
}
.newsletter p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
  opacity: 0.7;
}
.newsletter form {
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: #ffffff;
  padding: 12px;
  border-radius: 3px;
}
.newsletter input {
  width: 400px;
  font-size: 16px;
  color: #191c1f;
  padding: 14px 16px;
  border: none;
  outline: none;
}
.newsletter button {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fa8232;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 15px 24px;
  border: none;
  border-radius: 2px;
}
.brands {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  border-top: 1px solid #ffffff;
  padding-top: 32px;
  opacity: 0.6;
}
.brands svg {
  font-size: 34px;
  color: #ffffff;
}
@media (max-width: 1200px) {
  .newsletter {
    padding: 72px 15px;
  }
}
@media (max-width: 768px) {
  .newsletter {
    padding: 50px 15px;
  }
  .newsletter h2 {
    font-size: 24px;
    line-height: 32px;
  }
  .newsletter form {
    flex-direction: column;
    width: 100%;
  }
  .newsletter input {
    width: 100%;
    border: 1px solid #e4e7e9;
  }
  .newsletter button {
    width: 100%;
    justify-content: center;
  }
  .brands {
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }
}
