.deals {
  padding: 0 120px 40px 120px;
}
.best {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 24px;
}
.best h2 {
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  color: #191c1f;
}
.best a {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 13px;
  font-weight: 600;
  color: #2da5f3;
}
.row {
  display: flex;
  gap: 16px;
}
.big {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 24%;
  background-color: #ffffff;
  border: 1px solid #e4e7e9;
  border-radius: 2px;
  padding: 16px;
}
.big img {
  border-radius: 2px;
}
.rating {
  display: flex;
  align-items: center;
  gap: 2px;
}
.rating svg {
  font-size: 13px;
  color: #fa8232;
}
.rating p {
  font-size: 12px;
  font-weight: 500;
  color: #77878f;
  padding-left: 6px;
}
.big h3 {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #191c1f;
}
.big h4 {
  font-size: 18px;
  font-weight: 600;
  color: #2da5f3;
}
.big h4 s {
  font-size: 14px;
  font-weight: 400;
  color: #77878f;
  padding-right: 6px;
}
.big p {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: #5f6c72;
}
.small {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 74%;
}
@media (max-width: 1200px) {
  .deals {
    padding: 0 15px 40px 15px;
  }
}
@media (max-width: 768px) {
  .best {
    flex-wrap: wrap;
    gap: 12px;
  }
  .row {
    flex-wrap: wrap;
  }
  .big {
    width: 100%;
  }
  .small {
    width: 100%;
  }
}
