.category {
  padding: 0 120px 40px 120px;
}
.category h2 {
  font-size: 22px;
  font-weight: 700;
  color: #191c1f;
  text-align: center;
  padding-bottom: 20px;
}
.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fa8232;
  color: #ffffff;
  font-size: 16px;
  padding: 12px;
  border: none;
  border-radius: 50%;
}
.boxes {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  width: 88%;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 15%;
  background-color: #ffffff;
  padding: 26px 10px;
  border: 1px solid #e4e7e9;
  border-radius: 2px;
}
.item svg {
  font-size: 34px;
  color: #191c1f;
}
.item p {
  font-size: 12px;
  font-weight: 500;
  color: #475156;
  text-align: center;
}
@media (max-width: 1200px) {
  .category {
    padding: 0 15px 40px 15px;
  }
}
@media (max-width: 768px) {
  .boxes {
    flex-wrap: wrap;
    justify-content: center;
  }
  .item {
    width: 30%;
  }
}
@media (max-width: 480px) {
  .arrow {
    display: none;
  }
  .item {
    width: 47%;
  }
}
