.footer {
  background-color: #191c1f;
  padding: 50px 120px 0 120px;
}
.top {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  padding-bottom: 40px;
}
.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 22%;
}
.address h2 {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}
.address h5 {
  font-size: 12px;
  font-weight: 400;
  color: #adb7bc;
}
.address h4 {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
}
.address p {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: #adb7bc;
}
.links {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 15%;
}
.links h3 {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #ffffff;
}
.links a {
  font-size: 13px;
  font-weight: 400;
  color: #adb7bc;
}
.links h4 {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 13px;
  font-weight: 600;
  color: #fa8232;
}
.download {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 15%;
}
.download h3 {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #ffffff;
}
.download button {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #303639;
  padding: 10px 14px;
  border: 1px solid #475156;
  border-radius: 3px;
}
.download svg {
  font-size: 24px;
  color: #ffffff;
}
.download p {
  font-size: 11px;
  font-weight: 400;
  color: #adb7bc;
  text-align: left;
}
.download h4 {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  text-align: left;
}
.popular {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 19%;
}
.popular h3 {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #ffffff;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.tags p {
  font-size: 12px;
  font-weight: 500;
  color: #adb7bc;
  background-color: #303639;
  padding: 7px 12px;
  border: 1px solid #475156;
  border-radius: 2px;
}
.copy {
  border-top: 1px solid #303639;
  padding: 20px 0;
}
.copy p {
  font-size: 12px;
  font-weight: 400;
  color: #adb7bc;
  text-align: center;
}
@media (max-width: 1200px) {
  .footer {
    padding: 50px 15px 0 15px;
  }
}
@media (max-width: 992px) {
  .top {
    flex-wrap: wrap;
    gap: 40px;
  }
  .address {
    width: 100%;
  }
  .links {
    width: 30%;
  }
  .download {
    width: 30%;
  }
  .popular {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .top {
    flex-direction: column;
    gap: 30px;
  }
  .links {
    width: 100%;
  }
  .download {
    width: 100%;
  }
}
