.macbook {
  padding: 0 120px 50px 120px;
}
.apple {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #fde3cf;
  padding: 50px;
}
.pro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  width: 55%;
}
.pro h5 {
  background-color: #2da5f3;
  color: #ffffff;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 5px 10px;
  border-radius: 2px;
}
.pro h2 {
  font-size: 40px;
  font-weight: 700;
  color: #191c1f;
}
.pro p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #475156;
}
.pro button {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fa8232;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 13px 24px;
  border: none;
  border-radius: 2px;
}
.laptop {
  width: 41%;
}
@media (max-width: 1200px) {
  .macbook {
    padding: 0 15px 50px 15px;
  }
}
@media (max-width: 768px) {
  .apple {
    flex-wrap: wrap;
    padding: 40px 24px;
  }
  .pro {
    width: 100%;
  }
  .laptop {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .pro h2 {
    font-size: 30px;
  }
}
