.macbook {
  margin-bottom: 50px;
}

.macbook-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 1200px;
  margin: 0 auto;
  background-color: #fde3cf;
  padding: 50px;
}

.macbook-info {
  width: 460px;
}

.macbook-info h5 {
  display: inline-block;
  background-color: #2da5f3;
  color: #ffffff;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 5px 10px;
  border-radius: 2px;
  margin-bottom: 16px;
}

.macbook-info h2 {
  font-size: 40px;
  font-weight: 700;
  color: #191c1f;
  margin-bottom: 12px;
}

.macbook-info p {
  width: 300px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #475156;
  margin-bottom: 24px;
}

.macbook-info button {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fa8232;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 13px 24px;
  border: none;
  border-radius: 2px;
}

.macbook-box img {
  display: block;
  width: 400px;
}

@media (max-width: 1200px) {
  .macbook {
    padding: 0 15px;
  }

  .macbook-box {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .macbook-info {
    width: 100%;
  }

  .macbook-box img {
    width: 300px;
  }

}

@media (max-width: 768px) {
  .macbook-box {
    flex-wrap: wrap;
    padding: 40px 24px;
  }

  .macbook-info p {
    width: 100%;
  }


  .macbook-box img {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .macbook-info h2 {
    font-size: 30px;
  }
}
