.news {
  background-color: #f3f5f7;
  padding: 60px 120px;
}
.news h2 {
  font-size: 28px;
  font-weight: 600;
  color: #191c1f;
  text-align: center;
  padding-bottom: 32px;
}
.latest {
  display: flex;
  gap: 24px;
}
.latest article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 32%;
  background-color: #ffffff;
  border-radius: 2px;
  padding: 24px;
}
.latest img {
  border-radius: 2px;
}
.latest nav {
  display: flex;
  align-items: center;
  gap: 16px;
}
.latest nav p {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 12px;
  font-weight: 400;
  color: #77878f;
}
.latest nav svg {
  color: #fa8232;
}
.latest h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #191c1f;
}
.latest p {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: #5f6c72;
}
.latest button {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #ffffff;
  color: #fa8232;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 11px 20px;
  border: 1px solid #fde3cf;
  border-radius: 2px;
}
@media (max-width: 1200px) {
  .news {
    padding: 60px 15px;
  }
}
@media (max-width: 768px) {
  .news {
    padding: 40px 15px;
  }
  .latest {
    flex-wrap: wrap;
  }
  .latest article {
    width: 100%;
  }
}
