.banner {
  display: flex;
  gap: 24px;
  padding: 0 120px 40px 120px;
}
.homepod {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 48%;
  background-color: #f3f5f7;
  padding: 40px;
  border-radius: 4px;
}
.mini {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  width: 56%;
}
.mini h5 {
  background-color: #2da5f3;
  color: #ffffff;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 5px 10px;
  border-radius: 2px;
}
.mini h2 {
  font-size: 26px;
  font-weight: 700;
  line-height: 34px;
  color: #191c1f;
}
.mini p {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #475156;
}
.mini button {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fa8232;
  color: #ffffff;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 11px 20px;
  border: none;
  border-radius: 2px;
}
.pod {
  width: 36%;
}
.mi {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 48%;
  background-color: #191c1f;
  color: #ffffff;
  padding: 40px;
  border-radius: 4px;
  overflow: hidden;
}
.ultra {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  width: 56%;
}
.ultra h5 {
  background-color: #f3de6d;
  color: #191c1f;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 5px 10px;
  border-radius: 2px;
}
.ultra h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
.ultra p {
  font-size: 11px;
  font-weight: 400;
  line-height: 17px;
  color: #adb7bc;
}
.ultra button {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fa8232;
  color: #ffffff;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 11px 20px;
  border: none;
  border-radius: 2px;
}
.eleven {
  width: 36%;
}
@media (max-width: 1200px) {
  .banner {
    padding: 0 15px 40px 15px;
  }
  .homepod {
    padding: 30px;
  }
  .mi {
    padding: 30px;
  }
}
@media (max-width: 768px) {
  .banner {
    flex-direction: column;
  }
  .homepod {
    width: 100%;
  }
  .mi {
    width: 100%;
  }
}
